<div>
  <!--Common spinner -->
  <div *ngIf="!(pokemons$ | async)" class="spinner spinner-inverse loading-spinner">Loading pokemons...</div>
  <!-- Search results -->
  <div class="row" *ngIf="(uiState$ | async).searchString">
    <div class="col-xs-4 col-sm-3 col-md-2 col-lg-1" *ngFor="let pokemon of (pokemons$ | async | ngFuse: (uiState$ | async)
        .searchString:{keys: ['name']})">
      <pkm-card [pokemon]="pokemon"></pkm-card>
    </div>
  </div>
  <!--If no search, display paginated view -->
  <div *ngIf="!(uiState$ | async).searchString">
    <div class="row">
      <div class="col-xs-4 col-sm-3 col-md-2" *ngFor="let pokemon of (paginatedPokemons$ | async)">
        <pkm-card [pokemon]="pokemon"></pkm-card>
      </div>
    </div>
    <div class="pagination-buttons">
      <div class="btn-group btn-outline-primary btn-sm">
        <button [disabled]="!(this.canMoveBackward | async)" (click)="goToFirstPage()" class="btn">
          first page
        </button>
        <button [disabled]="!(this.canMoveBackward | async)" (click)="goToPrevPage()" class="btn">
        prev page
        </button>
        <button disabled class="btn">{{ (uiState$ | async).currentPage }}</button>
        <button [disabled]="!(this.canMoveForward | async)" (click)="goToNextPage()" class="btn">
          next page
        </button>
        <button [disabled]="!(this.canMoveForward | async)" (click)="goToLastPage()" class="btn">
          last page
        </button>
      </div>
    </div>
  </div>
</div>
