<div *ngIf="pokemon" class="pokemon">
  <div class="pokemon-picture">
    <img [src]="!showReverse ? pokemon.sprites.front_default : pokemon.sprites.back_default">
    <button (click)="showReverse = !showReverse" class="btn btn-primary">
      <clr-icon shape="two-way-arrows"></clr-icon>
    </button>
  </div>
  <h1 class="pokemon-title">{{ pokemon.name }}</h1>
  <div class="pokemon-types">
    <span *ngFor="let pType of pokemon.types" class="label label-blue">
    {{ pType.type.name }}
    <span class="badge">{{ pType.slot }}</span>
    </span>
  </div>


  <div class="pokemon-mensurations">
    <div class="pokemon-mensurations-item">
      <clr-icon shape="arrow"></clr-icon>
      {{ pokemon.height + ' cm' }}
    </div>
    <div class="pokemon-mensurations-item">
      <clr-icon shape="block"></clr-icon>
      {{ pokemon.weight / 10 + ' kg' }}
    </div>
  </div>
  <table class="table">
    <thead>
      <tr>
        <th>Stat</th>
        <th style="text-transform: capitalize">{{ pokemon.name }}</th>
        <th *ngFor="let pType of pokemon.types">{{ pType.type.name }} (avg.)</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let pStat of pokemon.stats">
        <td style="font-weight: bold">{{ pStat.stat.name }}</td>
        <td>{{ pStat.baseStat }}</td>
        <td *ngFor="let pType of pokemon.types">{{ getAverageStatForType((typesForPokemon$ | async), pType.type.name, pStat.stat.name) }}</td>
      </tr>
    </tbody>
  </table>
  <button (click)="getPokemonTypeRelations()">getPokemonTypeRelations</button>

  <button *ngFor="let pType of pokemon.types" (click)="calculateAverageStats(pType)">{{ pType | json }}</button>
  <div *ngFor="let type of (typesForPokemon$ | async)"> {{ type | json }} </div>
</div>
