.pokemon {
  &-title {
    text-transform: capitalize;
  }
  &-mensurations {
    font-size: 20px;
    &-item {
      margin-top: 1em;
      display: inline-block;
      margin-right: 1em;
    }
  }
  &-picture {
    float: right
  }
}
